ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}


.body_content {
    background-color: #2A2C2F;
    /* width: 100px; */
    height: 100px;
}

.page {
    max-width: 1280px;
    min-width: 320px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header_logo {
    background-image: url('./img/logo.svg');
    width: 176px;
    height: 52px;
    background-size: 176px 52px;
}

.header_lang {
    color: white;
}

.lead {
    width: 984px;
    margin: 0 auto;
}


.lead-title,
.lead-subtitle,
.lead-caption {
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
}

.lead-title {
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
}

.lead-subtitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 64px;
}

.lead-caption {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-top: 8px;
}


.intro {
    width: 690px;
    margin: 92px auto 0px 148px;
}

.intro-title {
    color: #FFF;
    font-size: 54px;
    font-family: Inter;
    font-weight: 900;
    line-height: 58px;
}

.intro-text {
    color: #FFF;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
}

.intro-text {
    color: #FFF;
    font-size: 16px;
    line-height: 163%;
}

.intro-list {
    list-style-type: none;
}

.intro-list-item {
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
}