/* ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}
 */

/* .body {
    background-color: #2A2C2F;
    height: 100px;
} */

/* .page {
    max-width: 1280px;
    min-width: 320px;
} */

/* .header {
    display: flex;
    justify-content: space-between;
} */

/* .header__logo {
    background-image: url('./img/logo.svg');
    width: 176px;
    height: 52px;
    background-size: 176px 52px;
} */

/* .header__lang {
    color: white;
} */




/* .lead-title,
.lead-subtitle,
.lead-caption {
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
} */

/* .lead-title {
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
} */



/* .lead-caption {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-top: 8px;
} */


/* .intro {
    width: 690px;
    margin: 92px auto 0px 148px;
} */

/* .intro-title {
    color: #FFF;
    font-size: 54px;
    font-family: Inter;
    font-weight: 900;
    line-height: 58px;
} */

/* .intro-text {
    color: #FFF;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
} */

/* .intro-text {
    color: #FFF;
    font-size: 16px;
    line-height: 163%;
} */

/* .intro-list {
    list-style-type: none;
} */

/* .intro-list-item {
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
} */